
                                <!DOCTYPE html>
                                <html lang="en">
                                <title>Leave mail</title>

                                <head>
                                      <meta charset="utf-8">
                                      <meta name="viewport" content="width=device-width, initial-scale=1">
                                      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
                                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                                      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
                                </head>

                                <body>

                                <div class="container">
                                  <div class="panel panel-primary">

                                       <div class="panel-heading">
                                         Hr/Admin, The below employee has requested for a leave.
                                        </div>

                                        <div class="panel-body">


                                        <form action="http://leave.intellisoftplus.com/try" method="post">
                                            <button type="submit" name="sendemail" value="1">Approve</button><br/>
                                            <button type="submit" name="declineemail" value="1">Decline</button><br/>
                                            <input type="submit" class="btn btn-info" value="Submit Button">
                                        </form>

                                        Please reply.<br/>

                                        <br/>
                                        http://leave.intellisoftplus.com/hr
                                        </div>
                                  </div>
                                </div>
                                </body></html>





